@import url(./fonts.css);


:root {
    --font-primary: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header start */


/* header end */



/* membership start */




/* membership end */

/* guide start */




/* guide end */


/* info start */




/* info end */


/* slider start */




/* slider end */


/* already start */




/* already end */




/* community start */

.community__cards {
    display: flex;
    padding-left: 104px;
    column-gap: 50px;
    padding-top: 114px;
}

.community__title {
    max-width: 457px;
    width: 100%;
    color: #692340;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
}

.community__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 108px;
}

.community__card-title {
    max-width: 152px;
    width: 100%;
    color: #692340;
    font-weight: 700;
    font-size: 24px;
    padding-top: 10px;
}

.community__card-text {
    max-width: 354px;
    width: 100%;
    color: #692340;
    font-weight: 700;
    font-size: 27px;
    padding-top: 10px;
}

.community__card-texts {
    max-width: 385px;
    width: 100%;
    color: #692340;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}

.community__card {
    display: flex;
    flex-direction: column;
}

.community__desc-cards {
    display: flex;
    justify-content: space-between;
    padding: 54px 332px;
}

.community__desc-card-title {
    max-width: 217px;
    width: 100%;
    color: #692340;
    font-weight: 700;
    font-size: 24px;
}

.community__desc-card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.community__desc-card-span {
    border: 1px solid #692340;
    filter: drop-shadow(0px 0px 0px rgba(105, 35, 64, 0.4));
    border-radius: 0px;
    padding: 20px 40px;
    text-align: center;
    transition: .5s;
}
.community__desc-card-span:hover {
    background: #466;
    color: #ffffff;
}

/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */